<mat-toolbar color="primary" class="toolbar" *ngIf="!isLoginPage">
  <span class="title" (click)="home()">🍦 Ice Cream Shop</span>

  <div class="toolbar-content">
    <button mat-button [matMenuTriggerFor]="langMenu">
      {{ selectedLang }} <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #langMenu="matMenu">
      <button mat-menu-item *ngFor="let lang of languages" (click)="selectLanguage(lang)">{{ lang }}</button>
    </mat-menu>

    <button mat-button [routerLink]="linkTarget">
      <mat-icon>shopping_cart</mat-icon>
      <span *ngIf="cartCount > 0" class="cart-badge">{{ cartCount }}</span>
      {{ store.getOrderStatus() === 'Confirmed' ? 'Order Status' : 'Cart' }}
    </button>

    <button *ngIf="auth.isLoggedIn()" mat-button (click)="logout()">Logout</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
