<mat-card>
  <mat-card-header>
    <div class="cart-title">
      <h2>
        <ng-container *ngIf="cartEmpty">Cart is empty</ng-container>
        <ng-container *ngIf="!cartEmpty">Total: {{ cartTotal | number:'1.2-2' }} €</ng-container>
      </h2>
      <div>
        <button *ngIf="!cartEmpty" mat-raised-button
                [color]="'accent'"
                (click)="navigateToPayment()"><div class="pay-button-caption"><span>Pay</span><mat-icon>chevron_right</mat-icon></div>
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content *ngIf="!cartEmpty" class="cart-container">
    <mat-card *ngFor="let item of getMenuItems(); let i = index;" class="cart-card mat-elevation-z3">
      <mat-card-header>
        <div class="card-header-content">
          <mat-card-title>{{ item.name }}</mat-card-title>
          <button mat-icon-button [color]="'warn'" (click)="remove(i)" aria-label="Remove">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>Base: {{ item.price }} €</p>
        <div class="options">
          <p>With:</p>
          <mat-checkbox *ngFor="let opt of getAllowedOptions(item)"
                        [checked]="isOptionSelected(i, opt.id)"
                        (change)="onOptionSelection(i, opt.id, $event.checked)">
            {{ opt.name }} (+{{ opt.price }} €)
          </mat-checkbox>
        </div>
        <div class="quantity-selector">
          <button mat-raised-button class="amount-button" (click)="decrement(i)" [disabled]="store.cart()[i].amount < 2">-</button>
          <span>{{ store.cart()[i].amount }} </span>
          <button mat-raised-button class="amount-button" (click)="increment(i)">+</button>
        </div>
        <div class="quantity-selector">
          Item total: {{ getItemTotalPrice(i) }} €
        </div>
      </mat-card-content>
    </mat-card>
    <button mat-raised-button [color]="'warn'" (click)="clear()">Clear Cart</button>
  </mat-card-content>
</mat-card>
