<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>
        <ng-container *ngIf="store.getCart().length === 0">Cart is empty</ng-container>
        <ng-container *ngIf="store.getCart().length > 0">Total: {{ total() | number:'1.2-2' }} €</ng-container>
      </h2>
    </mat-card-title>
    <mat-card-subtitle *ngIf="store.getCart().length > 0">{{ store.orderStatus() }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="store.getCart().length > 0" class="cart-container">
    <mat-card *ngFor="let item of getMenuItems(); let i = index;" class="cart-card mat-elevation-z3">
      <mat-card-header>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>Base Price: {{ item.price }} €</p>

        <div class="options">
          <p>Options:</p>
<!--          <mat-checkbox *ngFor="let opt of item.options" [(ngModel)]="opt.selected"-->
<!--                        (ngModelChange)="updateStorage()">-->
<!--            {{ opt.name }} (+{{ opt.price }} €)-->
<!--          </mat-checkbox>-->
        </div>

        <div class="quantity-selector">
<!--          <button mat-mini-button (click)="decrement(item)">-</button>-->
<!--          <span>{{ item.amount }}</span>-->
<!--          <button mat-mini-button (click)="increment(item)">+</button>-->
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button color="warn" (click)="remove(i)">Remove</button>
      </mat-card-actions>
    </mat-card>
  </mat-card-content>
  <mat-card-actions *ngIf="store.getCart().length > 0">
    <button mat-raised-button (click)="clear()">Clear Cart</button>
  </mat-card-actions>
</mat-card>
